
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: linear-gradient(125,rgb(166, 81, 81) pink);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background: #cc5c5c;
  padding: 30px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  animation: fadeIn 1s ease-in-out;
}

.container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #444;
}

.input-group input,
.input-group select {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #dd6a6a;
  border-radius: 5px;
  outline: none;
  transition: 0.3s;
}

.input-group input:focus,
.input-group select:focus {
  border-color: pink;
  box-shadow: 0 0 5px rgb(rgb(166, 81, 81));
}


.checkbox {
  display: flex;
  align-items: center;
}

.checkbox input {
  margin-right: 8px;
}

.checkbox a {
  color: rgb(166, 81, 81);
  text-decoration: none;
}

.checkbox a:hover {
  text-decoration: underline;
}


button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(125,rgb(166, 81, 81) pink);
  color: rgb(189, 71, 71);
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(31, 63, 119, 0.4);
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}

@media (max-width: 400px) {
  .container {
    width: 90%;
  }
}
